<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seproject.questionmanagement">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuestionManagement">
        <activity
            android:name=".Activities.CreateAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CreateQuestionnaireActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.QuestionnairesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AdminQuestionnaireActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>